<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Машины</h1>
    <table border = "1">
        <tr>
            <td>Модель</td>
            <td>Серия</td>
            <td>Год выпуска</td>
        </tr>
        <tr th:each="car : ${CarsToShow}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.series}"></td>
            <td th:text="${car.yearOfManufacture}"></td>
        </tr>
    </table>
</body>
</html>